* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background: black;
    color: white;
}

article {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 40%;
}

h1 {
    font-size: 100px;
    margin: 10px;
    cursor: default;
}

header {
    font-size: 70px;
    position: fixed;
    left: 30%;
    top: 5%;
    text-align: center;
    padding: 10px;
    margin: 30px;
}

table {
    border: none;
}

th {
    border: none;
}

td {
    border: none;
    width: 20px;
    height: 15px;
}

input {
    text-align: center;
}

#ssid, #passwd {
    border-radius: 7px;
    padding: 15px;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

button {
    border: none;
    border-radius: 3px;
    background: transparent;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background: rgb(89, 89, 89);
    cursor: pointer;
}
